@import "../reset";

$black: #333;
$grey-1: #a6aab3;
$grey-light: #f7f7f9;
$primary-green: #69c17b;
$white: #fff;
$orange: #fecd9a;
$blue: #73ccdd;
$coral: #fc6f67;

// the css follows mobile first approach.


// utils and helpers
.is-hidden {
  display: none;
}

.c-coral {
  color: $coral;
}

.c-blue {
  color: $blue;
}

.c-orange {
  color: $orange;
}

// app

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $black;
}

// main container
.l-container {
  width: 100%;
  border: 1px solid $grey-light;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: 960px;
    display: flex;
  }
}
// sidebar menu
.c-menu {
  display: flex;
  width: 300px;
  height: auto;
  min-height: 100%;
  overflow: auto;
  position: fixed;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid $grey-light;
  transform: translateX(-302px);
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    transform: none;
    position: fixed;
  }

  &.is-open {
    transform: translateX(0px);
  }

  &__icons {
    padding: 20px;
    font-size: 2rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__search {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  &__projects {
    padding: 20px;
  }
}

.c-search {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  color: $grey-1;

  &__icon {
    font-size: 1.4rem;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    margin-left: 6px;
    border: none;
  }
}

.c-user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-top: 12px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__role {
    color: $grey-1;
    margin-top: 6px;
    font-size: 0.9rem;
  }
}

.c-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid $grey-1;

}

.c-project {
  color: $grey-1;

  &__icon {
    font-size: 1.2rem;
    margin-right: 12px;
  }

  &__title {
    font-size: 1rem;
    display: flex;
    align-content: center;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 6px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $primary-green;
      color: $white;
    }
  }

  &__folder {
    padding: 12px;
    display: none;
  }
}

.c-project-folder {
  padding: 8px 12px;
  border-radius: 2px;
  margin-bottom: 12px;
  color: $grey-1;
  display: none;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: $grey-light;
  }

  &__meta {
    width: 5px;
    border-radius: 50%;
    height: 5px;
    background-color: currentColor;
  }

  &__title {
    margin-left: 12px;
  }

  &.is-selected {
    background: $grey-light;
  }
}

.c-project.is-open {
  .c-project {
    &__title {
      background: $primary-green;
      color: $white;
    }

    &__folder {
      display: block;
    }
  }

  .c-project-folder {
    display: flex;
  }
}

// right hand side container

.l-main {
  height: 100%;
  overflow: auto;
  width: 100%;

  @media (min-width: 768px) {
    margin-left: 300px;
  }
}

.l-tasks-container {
  width: 100%;
}

.c-task {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $grey-light;
  transition: all 0.2s ease;

  &:hover {
    background-color: $grey-light;
  }

  &__details {
    display: flex;
    align-items: center;
  }
  &__user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  &__title {
    font-weight: 500;
    line-height: 1.3;
  }

  &__user-name {
    margin-top: 6px;
    font-size: 0.9rem;
    color: $grey-1;
    font-weight: 300;
  }

  &__title-status {
    display: flex;
    align-items: center;
  }

  &__status {
    padding: 6px;
    color: $white;
    font-size: .8rem;
    text-transform: uppercase;
    border-radius: 4px;
    margin-left: 6px;

    &--expiring {
      background-color: $orange;
    }
    &--ending {
      background-color: $blue;
    }
    &--urgent {
      background-color: $coral;
    }
  }
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid $grey-light;
}

.c-date {
  display: flex;
  align-items: center;
  color: $grey-1;

  &__icon {
    font-size: 1.4rem;
    color: $primary-green;
    margin-right: 20px;
  }
}

.c-actions {
  display: flex;
}

.c-notification {
  display: flex;
  align-items: center;
  margin-right: 12px;

  &__icon {
    font-size: 1.2rem;
    color: $grey-1;
  }

  &__count {
    width: 20px;
    height: 20px;
    background-color: $coral;
    border-radius: 50%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
  }
}

// buttons
.c-button__primary {
  background: $primary-green;
  border: none;
  padding: 12px 18px;
  border-radius: 25px;
  color: $white;
}

// extras
.m-close-icon {
  @media (min-width: 768px) {
    display: none;
  }
}

.l-open-menu-container {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid $grey-light;
  align-items: center;

  .menu-icon {
    font-size: 1.4rem;
    margin-right: 12px;
  }

  @media (min-width: 768px) {
    display: none;
  }
}